@model DetailsBookViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AverageRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AverageRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            <img src="data:image/png;base64,@Html.DisplayFor(modelItem => Model.Image)" width="300" height="200">
        </dd>
    </dl>

  
    @if (Model.Reviews!=null)
    {
          <h2 class="h2">Bar ratings</h2>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        User
                    </th>
                    <th>
                        Rating
                    </th>
                    <th>
                        Comment
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Reviews)
                {
                    <tr>
                        <td>
                            @item.UserLasName
                        </td>
                        <td>
                            @item.Rating
                        </td>
                        <td>
                            @item.ReviewText
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
